@model Project

@{
    ViewBag.Title = "Project";
    Layout = "~/Areas/ProjectsControlPanel/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>


<section>
    <h3>Actions</h3>
    <ul> 
        @foreach (var action in Model.GameActions)
        {
            <li>@(Html.ActionLink<ActionsController>(x => x.Show(action.Id), action.Description))</li>
        }
    </ul>
    @(Html.ActionLink<ActionsController>(x => x.Add(Model.Id), "Add Action"))
</section>

<section>
    <h3>Triggers</h3>
    <ul>
        @foreach (var trigger in Model.Triggers)
        {
            <li>@trigger.Title</li>
            @*<li>@(Html.ActionLink<TriggersController>(x => x.Show(trigger.Id), trigger.Title) )</li>*@
        }
    </ul>
    @(Html.ActionLink<TriggersController>(x => x.Add(Model.Id), "Add Trigger"))
</section>

<section>
    <h3>Constraints</h3>
    <ul>
        @foreach (var constraint in Model.NumericConstraints)
        {
            <li>@(Html.ActionLink<ConstraintsController>(x => x.Show(constraint.Id, BaseConstraintsTypes.BaseNumericConstrait), constraint.Description))</li>
        }
        @foreach (var constraint in Model.CollectionConstraints)
        {
            <li>@(Html.ActionLink<ConstraintsController>(x => x.Show(constraint.Id, BaseConstraintsTypes.BaseStringConstraint), constraint.Description))</li>
        }
    </ul>
    @(Html.ActionLink<ConstraintsController>(x => x.Add(Model.Id), "Add Constraint"))
</section>